$white: #fff;
$black: #29293d;
$darkblue: #0172b1;
$lightblue: #019ef5;
$linear_gradient: linear-gradient(90deg, $darkblue 0%, $lightblue 100%);

$Haikus: "Haikus", Arial, sans-serif;
$Aktiv: "AktivGrotesk", Arial, sans-serif;
$Domaine: "Domaine", Arial, sans-serif;
